<p class="title is-3 has-text-centered">Stores de <%= @category%></p>
    <div class="header">
        <h1>Products<h1>
        <h1 align="right"><%= link_to "New Product",
                    new_store_path,
                    class: "btn btn--primary" %><h1>
        <div id="myBtnContainer">
        <button class="btn active" onclick=<%= link_to store, store_path(store) %>> Show all</button>
        <button class="btn" onclick="filterSelection('drinks')"> Drinks</button>
        <button class="btn" onclick="filterSelection('food')"> Food</button>
        <button class="btn" onclick="filterSelection('souvenir')"> Souvenirs</button>
        </div>

    </div>
    <% @filter.each do |store|%>
        <div class="filterDiv <%=store.category%>">
            <%= link_to store.name, store_path(store) %>
            <div class="store__actions">
            <%= button_to "Delete",
                            store_path(store),
                            method: :delete,
                            class: "btn btn--light" %>
            <%= link_to "Edit",
                        edit_store_path(store),
                        class: "btn btn--light" %>
            </div>
    </div>
    <% end %>
<div class="columns is-centered">
  <div class="column"></div>
  <div class="column has-text-centered">
    <%=link_to "Volver", home_path, class: "button is-rounded is-link home_button" %>
  </div>
  <div class="column"></div>
</div>